:root {
    --black:#080b1b;
    --bannerAndFontColor:#1a2456;
    --bannerFontColor:#ff8b68;
    --backgroundItems:#f0efed;
}

body {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.firstSection, .thirdSection, footer {
    width: 100%;
}


ul {
    list-style: none;
}

h1, h2, h3, h4 {
    margin:0;
}

/* header */

header, footer {
    color:var(--bannerFontColor);
    background-color: var(--bannerAndFontColor);
    font-size: 0.8rem;
}

header {
    position: fixed;
    top:1vw;
    left: 1%;
    width: 98%;
    border-radius: 0.3vw;
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

    nav {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            .shopping {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}

.logo {
    width:20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;

    img {
        width:40%;
    }
    .monogram {
        font-size: 1.8rem;
    }
}

    /* shopping cart and currency */

label[for="currency"] {
    display: none;
}

select {
    color:var(--bannerFontColor);
    background:none;
    border:none;

    :focus {
        outline:none;
    }
}

/* main */
    /* general main styles */
h1, h2 {
    color:var(--bannerFontColor);
}

.secondSection, .thirdSection, .fourthSection {
    color:var(--bannerAndFontColor);
}

    /* section 1 */
.firstSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: lighter;
    }

    .bg {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100vh;
    }
}

.arrow {
    width: 7vw;
    position: absolute;
    bottom: 3vh;
    left: 46.5vw;

    &:hover {
        opacity: 0.7;
    }

}


    /* section 2 */

.secondSection {
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 30vh 30vh 10vh;
    grid-template-columns:5vh 1fr 1fr 5vh;
    gap:5%;
    grid-template-areas: 
    ". . . ."
    ". a b ." 
    ". c d ."
    ". . . ."
    ;
}

.product {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 2px 2px rgb(239, 239, 239);
    }

    .productDescription {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    

}

.pic {
    background-color:rgba(163, 163, 163, 0.352);
    width:100%;
    height: 80%;
}

.preorderBanner {
    background-color: var(--bannerFontColor);
    border-radius: 1px;
    width:10%;
    height: 10%;
    font-weight: bold;
    z-index: 1;
    position: relative;
    left: 80%;
    top:10%;
}


.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

    /* section 3 */

.thirdSection{
    background-image:url(christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.2rem;
}

/* section 4 */

.fourthSection {
    margin-bottom: 53vh;
    display: grid;
    grid-template-columns: 5vh 1fr 1fr 5vh;
    grid-template-rows: 10vh 30vh 30vh 30vh 30vh 30vh;
    gap:5%;
    grid-template-areas: 
    ". . . ."
    ". e f ."
    ". g h ."
    ". i j ."
    ". k l ."
    ". m n ."
    ;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

.i {
    grid-area: i;
}

.j {
    grid-area: j;
}

.k {
    grid-area: k;
}

.l {
    grid-area: l;
}

.m {
    grid-area: m;
}

.n {
    grid-area: n;
}


/* footer */

footer {
    height:33vh;

    ul li:first-child {
        font-weight: bold;
    }
}